@import "bootstrap";
main {
    text-align: center;
    font-size: 100%;
}
// Main design styles
.note {
    font-size: 200%;
}

.task {
    @extend .well;
}
// Color selections
$error: #C20A0A;
$right: #28C828;
$white: #FFFFFF;
.error {
    background-color: $error;
    color: $white;
}
.right {
    background-color: $right;
}
