<% provide(:title, @trainer.name) %>

<div class='task'>
<%= @generated_task[:text] %>
<br>
Правильный ответ - <%= @generated_task[:true_ans] %>
<br>
Вы ответили - <%= @generated_task[:user_ans] %>
<% if @generated_task[:true_ans].round(1) == @generated_task[:user_ans].round(1) %>
<div class="right"> Вы правильно решили задачу! </div>
<% else %>
<div class='error'> Вы ошиблись! </div>
<% end %>
<%= link_to 'Далее' ,trainer_path %>
</div>
