<% provide(:title, 'Тренажеры') %>
<ul class="list-group">
    <% @trainers.each do |trainer| -%>
    <li class="list-group-item"><%= link_to trainer.name.to_s ,trainer %></li>
    <% end -%>
    <li class="list-group-item list-group-item-info"><%= link_to "Экзамен", show_mix_path %></li>
</ul>
